<table class="table">
    <tbody>
    <!---------------------------------------------------------------------------------------------->
    <tr>
        <td>
            <b>Right</b>
        </td>
        <td>
            ACR<br>
            <div class="btn-group">
                <label  *ngFor="let element of acrscore; let i = index" class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio="{{i+1}}">{{element}}</label>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            BIRADS<br>
            <div class="btn-group">
                <label  *ngFor="let element of biradsscore; let i = index" class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio="{{element}}">{{element}}</label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b>Left</b>
        </td>
        <td>
            ACR<br>
            <div class="btn-group">
                <label  *ngFor="let element of acrscore; let i = index" class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio="{{i+1}}">{{element}}</label>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            BIRADS<br>
            <div class="btn-group">
                <label  *ngFor="let element of biradsscore" class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio="{{element}}">{{element}}</label>
            </div>
        </td>
    </tr>
    <!--<tr>-->
        <!--<td>-->
            <!--<b>ACR</b>-->
        <!--</td>-->
        <!--<td>-->
            <!--Right &emsp;-->
            <!--<div class="btn-group">-->
                <!--<label  *ngFor="let element of acrscore; let i = index" class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio="{{i+1}}">{{element}}</label>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td>-->
            <!--Left &emsp; &nbsp;-->
            <!--<div class="btn-group">-->
                <!--<label  *ngFor="let element of acrscore; let i = index" class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio="{{i+1}}">{{element}}</label>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td>-->
            <!--<b>BIRADS</b>-->
        <!--</td>-->
        <!--<td>-->
            <!--Right &emsp;-->
            <!--<div class="btn-group">-->
                <!--<label  *ngFor="let element of biradsscore" class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio="{{element}}">{{element}}</label>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
        <!--<td></td>-->
        <!--<td>-->
            <!--Left &emsp; &nbsp;-->
            <!--<div class="btn-group">-->
                <!--<label  *ngFor="let element of biradsscore" class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio="{{element}}">{{element}}</label>-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <!------------------------------------------------------------------------------------------------------>
    <tr>
        <td>
            <b>Breast Composition</b>
        </td>
        <td>
            <div class="btn-group">
                <label  *ngFor="let element of composition" class="btn btn-md btn-default" [(ngModel)]="dataservice.composition" btnRadio="{{element}}">{{element}}</label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
