<table class="table">
    <tbody>
    <tr>
        <td>
            <b>ACR</b>
        </td>
        <td>
            Right &emsp;
            <div class="btn-group">
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio=1>I</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio=2>II</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio=3>III</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.right" btnRadio=4>IV</label>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Left &emsp; &nbsp;
            <div class="btn-group">
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio=1>I</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio=2>II</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio=3>III</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.acr.left" btnRadio=4>IV</label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b>BIRADS</b>
        </td>
        <td>
            Right &emsp;
            <div class="btn-group">
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=0>0</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=1>1</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=2>2</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=3>3</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=4>4</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=5>5</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.right" btnRadio=6>6</label>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            Left &emsp; &nbsp;
            <div class="btn-group">
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=0>0</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=1>1</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=2>2</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=3>3</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=4>4</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=5>5</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.birads.left" btnRadio=6>6</label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b>Breast Composition</b>
        </td>
        <td>
            <div class="btn-group">
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.composition" btnRadio="Almost entirely fatty">Almost entirely fatty</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.composition" btnRadio="Scattered areas of fibroglandular density">Scattered areas of fibroglandular density</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.composition" btnRadio="Heterogeneously dense">Heterogeneously dense</label>
                <label class="btn btn-md btn-default" [(ngModel)]="dataservice.composition" btnRadio="Extremely dense">Extremely dense</label>
            </div>
        </td>
    </tr>
    </tbody>
</table>
