<!--<div class="glyphicon glyphicon-info-sign pull-right" (click)="show = !show">-->
<!--</div>-->
<!--<div class="pull-left" *ngIf="show">-->
    <!--<div class="row">-->
        <!--<div class="col-md-10 col-md-offset-6">-->
            <!--How to use the form:-->
            <!--<ol>-->
                <!--<li>Left click the sector you want to add to the table</li>-->
                <!--<li>Select the argument you want to adjust the score of (Q,W,E)</li>-->
                <!--<li>Select which finding you want to select (1 -> 9) <ul><li>Right click is used for adding an extra finding</li></ul></li>-->
                <!--<li>When hovering over the sector use the scroll wheel, or the keyboard arrows, to give it a score</li>-->
            <!--</ol>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="pull-left" *ngIf="show">-->
    <!--<div class="row">-->
        <!--<div class="col-md-12 col-md-offset-12">-->
            <!--Hotkeys to control the form:-->
            <!--<ul>-->
                <!--<li>Q: Select the T2 argument</li>-->
                <!--<li>W: Select the DWI agument</li>-->
                <!--<li>E: Select the DCE argument</li>-->
                <!--<li>1 -> 9: Select a finding</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->