
<!--<div class="row ">-->
<!--<div>-->
<!--<select #langSelect (change)="translate.use(langSelect.value)">-->
<!--<option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>-->
<!--</select>-->
<!--</div>-->
<div *ngIf="!show" class="glyphicon glyphicon-info-sign" (click)="show = !show">
</div>
<div *ngIf="show" class="well">
    <div class="glyphicon glyphicon-remove" (click)="show = !show"></div>
    <table class="table table-bordered wrapper">
        <thead>
        <tr>
            <th align="center">{{'LEGEND.HEADER.ASSESSMENT' | translate}}</th>
            <th align="center">{{'LEGEND.HEADER.MANAGEMENT' | translate}}</th>
            <th align="center">{{'LEGEND.HEADER.LIKELIHOOD' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
            <td>{{'LEGEND.' + category + '.ASSESSMENT' | translate}}</td>
            <td>{{'LEGEND.' + category + '.MANAGEMENT' | translate}}</td>
            <td>{{'LEGEND.' + category + '.LIKELIHOOD' | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!--</div>-->








