<div class="well legend row wrapper" *ngIf="show">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th align="center">Assessment</th>
            <th align="center">Management</th>
            <th align="center">Likelihood of Cancer</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let category of categories">
            <td>{{'LEGEND.' + category + '.ASSESSMENT' | translate}}</td>
            <td>{{'LEGEND.' + category + '.MANAGEMENT' | translate}}</td>
            <td>{{'LEGEND.' + category + '.LIKELIHOOD' | translate}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row wrapper">
    <div>
        <select #langSelect (change)="translate.use(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
    </div>
    <div class="glyphicon glyphicon-info-sign" (click)="show = !show">
    </div>
</div>

<br>







