<!--<div>-->
<!--ADD ACR AND BIRADS FINDING FOR EVERY BREAST SIDE HERE-->
<!--<BR>-->
<!--PALPATATION IS ALSO SOMETHING IMPORTANT-->
<!--<BR>-->
<!--GRAPHICS NEED TO BE SVG BASED-->
<!--<BR>-->

<!--UI CAN BE NICER-->
<!--</div>-->

<div class="table-container">
    <div *ngIf="dataservice.getMass().length > 0" class="panel panel-default col-sm-6">
        <div class="panel-heading"><h4><b>Mass</b></h4></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Distance (cm)</th>
                <th>Size</th>
                <th>Shape</th>
                <th>Margin</th>
                <th>Density</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of dataservice.getMass(); let i = index">
                <td>{{i + 1}}</td>
                <td><input height="100%" align="left"  class="form-control" type="number" step="0.1"
                           #distance (keyup)="setDistance(distance.value, 'M', i)"/></td>
                <td>{{entry.size}}</td>
                <td>{{entry.shape}}</td>
                <td>{{entry.margin}}</td>
                <td>{{entry.density}}</td>
                <td><div class="glyphicon glyphicon-remove" (click)="removeEntry(i, 'M')"></div> </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div *ngIf="dataservice.getDistortions().length > 0" class="panel panel-default col-sm-6">
        <div class="panel-heading"><h4><b>Distortion</b></h4></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Distance (cm)</th>
                <th>Finding</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of dataservice.getDistortions(); let i = index">
                <td>{{i + 1}}</td>
                <td><input height="100%" align="left"  class="form-control" type="number" step="0.1"
                           #distance (keyup)="setDistance(distance.value, 'D', i)"/></td>
                <td>{{entry.distortion}}</td>
                <td><div class="glyphicon glyphicon-remove" (click)="removeEntry(i, 'D')"></div> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dataservice.getAsymmetries().length > 0" class="panel panel-default col-sm-6">
        <div class="panel-heading"><h4><b>Asymmetries</b></h4></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Distance (cm)</th>
                <th>Finding</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of dataservice.getAsymmetries(); let i = index">
                <td>{{i + 1}}</td>
                <td><input height="100%" align="left"  class="form-control" type="number" step="0.1"
                           #distance (keyup)="setDistance(distance.value, 'A', i)"/></td>
                <td>{{entry.asymmetry}}</td>
                <td><div class="glyphicon glyphicon-remove" (click)="removeEntry(i, 'A')"></div> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="dataservice.getCalcifications().length > 0"   class="panel panel-default col-sm-6">
        <div class="panel-heading"><h4><b>Calcifications</b></h4></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Distance (cm)</th>
                <th>Morphology</th>
                <th>Distribution</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let entry of dataservice.getCalcifications(); let i = index">
                <td>{{i + 1}}</td>
                <td><input height="100%" align="left"  class="form-control" type="number" step="0.1"
                           #distance (keyup)="setDistance(distance.value, 'C', i)"/></td>
                <td>{{entry.morphology}}</td>
                <td>{{entry.distribution}}</td>
                <td><div class="glyphicon glyphicon-remove" (click)="removeEntry(i, 'C')"></div> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


