<div (window:contextmenu)="keyPressHandler($event)"></div>
<div class="wrapper" resize>
    <div class="row ">
        <div class="col-md-5">
            <classification-component></classification-component>

        </div>

        <div class="col-md-7">
            <sidebar-component></sidebar-component>
            <map-component></map-component>

        </div>
    </div>
    <br>
    <legend-component class="legend-component"></legend-component>
    <div class="row wrapper">
        <div class="col-md-5">
            <screening-component *ngIf="showflemishreport"></screening-component>
        </div>
    </div>
    <div class="row wrapper">
        <div class="col-md-12">
            <table-component></table-component>
        </div>
    </div>

</div>

