<div (window:click) = "modalInterrupt()"></div> <!-- get a handler in place to catch the case where you cut short the modal -->
<div (keydown)="hotKeys($event.keyCode)" bsModal #modal1="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asymmetry</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <label *ngFor="let element of asymmetryarray" class="btn btn-lg btn-default" (click)="mouseControl(element)" [(ngModel)]="asymmetry" btnRadio="{{element}}">{{element}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

