<div (window:click) = "modalInterrupt()"></div> <!-- get a handler in place to catch the case where you cut short the modal -->
<div (keypress)="hotKeys($event.keyCode, this.menus[0], this.benign)" bsModal #modal1="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{"TABLE.CALCIFICATION.MORPHOLOGY.HEADERNAME"|translate:{value:this.togglebutton} }} <button type="button" class="btn btn-default" (click)="this.benign = !this.benign">{{"TABLE.CALCIFICATION.MORPHOLOGY.MOREBUTTON" | translate}}</button></h4>
            </div>
            <div class="modal-body"  (keydown)="hotKeys($event.keyCode, this.menus[0])">
                <div *ngIf="this.benign">
                    <label *ngFor="let element of morphologyarraybenign" class="btn btn-lg btn-default" (click)="mouseControl(this.menus[0], element)" [(ngModel)]="morphology" btnRadio="{{element}}">
                    {{"TABLE.CALCIFICATION.MORPHOLOGY." + element.toLocaleUpperCase() | translate}}</label>
                </div>
                <div  *ngIf="!this.benign">
                    <label *ngFor="let element of morphologyarraynotbenign" class="btn btn-lg btn-default" (click)="mouseControl(this.menus[0], element)" [(ngModel)]="morphology" btnRadio="{{element}}">
                    {{"TABLE.CALCIFICATION.MORPHOLOGY." + element.toLocaleUpperCase() | translate}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div (keypress)="hotKeys($event.keyCode, this.menus[1])" bsModal #modal2="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{"TABLE.CALCIFICATION.DISTRIBUTION.NAME" | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <label *ngFor="let element of distributionarray" class="btn btn-lg btn-default" (click)="mouseControl(this.menus[1], element)" [(ngModel)]="distribution" btnRadio="{{element}}">
                        {{"TABLE.CALCIFICATION.DISTRIBUTION." + element.toLocaleUpperCase() | translate}}</label>

                </div>
            </div>
        </div>
    </div>
</div>

