<div (window:click) = "modalInterrupt()"></div> <!-- get a handler in place to catch the case where you cut short the modal -->
<div (keypress)="hotKeys($event.keyCode, this.menus[0])" bsModal #modal1="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Shape</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <img *ngFor="let element of shapearray" src="/assets/images/mass/{{element}}.png" (click)="mouseControl(this.menus[0], element)" [(ngModel)]="shape" btnRadio="{{element}}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div (keypress)="hotKeys($event.keyCode, this.menus[1])" bsModal #modal2="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Margin</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <img *ngFor="let element of marginarray" src="/assets/images/mass/{{element}}.png" (click)="mouseControl(this.menus[1], element)" [(ngModel)]="margin" btnRadio="{{element}}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div (keypress)="hotKeys($event.keyCode, this.menus[2])" bsModal #modal3="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg" align="center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Density</h4>
            </div>
            <div class="modal-body">
                <div class="btn-group">
                    <img *ngFor="let element of densityarray" src="/assets/images/mass/{{element}}.png" (click)="mouseControl(this.menus[2], element)" [(ngModel)]="density" btnRadio="{{element}}"/>
                </div>
            </div>
        </div>
    </div>
</div>
