<!--&lt;!&ndash;SHAPE MODAL &ndash;&gt;-->
<!--<div (keydown)="hotKeys($event.keyCode, 'shape')" bsModal #modal1="bs-modal" class="modal fade" tabindex="-1" role="dialog">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title">Shape</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div align="center">-->
                    <!--<div class="btn-group">-->
                        <!--<img src="/assets/images/round.png" (click)="modal2.show(); modal1.hide()" [(ngModel)]="this.shape" btnRadio="round"/>-->
                        <!--<img src="/assets/images/oval.png" (click)="modal2.show(); modal1.hide()" [(ngModel)]="this.shape" btnRadio="oval"/>-->
                        <!--<img src="/assets/images/irregular.png" (click)="modal2.show(); modal1.hide()" [(ngModel)]="this.shape" btnRadio="irregular"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; MARGIN MODAL &ndash;&gt;-->
<!--<div (keydown)="hotKeys($event.keyCode, 'margin')" bsModal #modal2="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title">Margin</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div align="center">-->
                    <!--<div class="btn-group">-->
                        <!--<img src="/assets/images/circumscribed.png" (click)="modal3.show(); modal2.hide()" [(ngModel)]="this.margin" btnRadio="circumscribed"/>-->
                        <!--<img src="/assets/images/obscured.png" (click)="modal3.show(); modal2.hide()" [(ngModel)]="this.margin" btnRadio="obscured"/>-->
                        <!--<img src="/assets/images/microlobulated.png" (click)="modal3.show(); modal2.hide()" [(ngModel)]="this.margin" btnRadio="microlobulated"/>-->
                        <!--<img src="/assets/images/indistinct.png" (click)="modal3.show(); modal2.hide()" [(ngModel)]="this.margin" btnRadio="indestinct"/>-->
                        <!--<img src="/assets/images/spiculated.png" (click)="modal3.show(); modal2.hide()" [(ngModel)]="this.margin" btnRadio="spiculated"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; DENSITY MODAL &ndash;&gt;-->
<!--<div (keydown)="hotKeys($event.keyCode, 'density')" bsModal #modal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<h4 class="modal-title">Density</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<div align="center">-->
                    <!--<div class="btn-group" >-->
                        <!--<img src="/assets/images/low.png" (click)="modal3.hide(); addTable()" [(ngModel)]="this.density" btnRadio="low"/>-->
                        <!--<img src="/assets/images/equal.png" (click)="modal3.hide(); addTable()" [(ngModel)]="this.density" btnRadio="equal"/>-->
                        <!--<img src="/assets/images/high.png" (click)="modal3.hide(); addTable()" [(ngModel)]="this.density" btnRadio="high"/>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
