<div align="center" >
    <!--<div align="center" (click)="clickHandler($event)">-->
    <div class="row  col-sm-offset-0" id="images">
        <div class="col-sm-3">
            <img (click)="clickHandler($event)" class="img-responsive" src="/assets/images/map/biradsRS.png" id="RS"/>
        </div>
        <div class="col-sm-3">
            <img (click)="clickHandler($event)" class="img-responsive" src="/assets/images/map/biradsRF.png" id="RF"/>
        </div>
        <div class="col-sm-3">
            <img (click)="clickHandler($event)" class="img-responsive" src="/assets/images/map/biradsLF.png" id="LF"/>
        </div>
        <div class="col-sm-3">
            <img (click)="clickHandler($event)" class="img-responsive" src="/assets/images/map/biradsLS.png" id="LS"/>
        </div>

    </div>
</div>
<mass-component [show]="pagectrl.getShowmenu() == 'mass'"></mass-component>
<distortion-component [show]="pagectrl.getShowmenu() == 'distortion'"></distortion-component>
<asymmetries-component [show]="pagectrl.getShowmenu() == 'asymmetries'"></asymmetries-component>
<calcification-component [show]="pagectrl.getShowmenu() == 'calcifications'"></calcification-component>





