<div align="center" (click)="clickHandler($event)">    <!-- just to let it trigger, the data is overwritten anyways -->

    <img class="img-responsive" id="MapImg" rwdimagemap src="/assets/images/birads.jpg" usemap="#Map"/>
    <mass-component [show]="pagectrl.getShowmenu() == 'mass'"></mass-component>
    <distortion-component [show]="pagectrl.getShowmenu() == 'distortion'"></distortion-component>
    <asymmetries-component [show]="pagectrl.getShowmenu() == 'asymmetries'"></asymmetries-component>
    <calcification-component [show]="pagectrl.getShowmenu() == 'calcifications'"></calcification-component>
</div>

<!-- TODO KNOWN BUG: LABELS DONT MOVE WHEN THE SCREEN IS RESIZED OR WHEN THE SCREEN SCROLLS -->
