<div (window:keydown)="hotKeys($event.keyCode)">
    <ul class="nav nav-pills nav-justified">
        <li [(ngModel)]="this.pagectrl.method" btnRadio="mass"><a href="#">Mass</a></li>
        <li [(ngModel)]="this.pagectrl.method" btnRadio="distortion"><a href="#">distortion</a></li>
        <li [(ngModel)]="this.pagectrl.method" btnRadio="asymmetries"><a href="#">asymmetries</a></li>
        <li [(ngModel)]="this.pagectrl.method" btnRadio="calcifications"><a href="#">calcifications</a></li>
    </ul>
</div>

